* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  padding: 2rem;
  transition: background-color 0.3s, color 0.3s;
}
header, footer {
  text-align: center;
  margin-bottom: 2rem;
}

#hero, #projects, #skills, #resume, #contact {
  margin-bottom: 2rem;
}

#toggle-theme {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-icon);
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: background-color 0.3s;
}

#toggle-theme:hover {
  background-color: var(--color-icon-hover);
}

.card {
  background-color: var(--color-card);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  background: var(--color-primary);
  color: white;
  border-radius: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li a{
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: var(--color-text);
}

header li a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-text);
  transition: width 0.3s ease;
}

header li a:hover::after, header li a:focus::after {
  width: 100%;
}

#skills ul,
#resume ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

#skills li,
#resume li {
  margin-bottom: 0.5rem;
}
